<h1>Услуги</h1>

<table class="table table-bordered">
  <tr>
    <th>Услуга</th>
    <th>Описание</th>
    <th>Цена</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.title %></td>
    <td><%= service.description %></td>
    <td><%= number_to_currency(service.price) %></td>
    <% if session[:admin] %>
      <td><%= link_to 'Show', service %></td>
      <td><%= link_to 'Edit', edit_service_path(service) %></td>
      <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
  <% if session[:admin] %>
    <%= link_to 'Добавить услугу', new_service_path, class: "btn btn-large btn-primary" %>
  <% end %>