<h1>Listing contents</h1>

<table>
  <tr>
    <th>Alias</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td><%= content.alias %></td>
    <td><%= content.content %></td>
    <% if session[:admin] %>
      <td><%= link_to 'Show', content %></td>
      <td><%= link_to 'Edit', edit_content_path(content) %></td>
      <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if session[:admin] %>
  <%= link_to 'New Content', new_content_path %>
<% end %>