<h1>Listing proposals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proposals.each do |proposal| %>
  <tr>
    <td><%= proposal.name %></td>
    <td><%= proposal.phone %></td>
    <td><%= proposal.address %></td>
    <td><%= proposal.description %></td>
    <% if session[:admin] %> 
      <td><%= link_to 'Show', proposal %></td>
      <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
      <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if session[:admin] %>
  <%= link_to 'New Proposal', new_proposal_path %>
<% end %>